/* load Open Sans Font from local */
@import url(../fonts/font.css);

.table>thead>tr>th{ background-color: #4d4d4d; color: #fff;}
.table-striped>tbody>tr:nth-of-type(odd){background-color: #f5faff; color: #0280D4;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top: 1px solid #f0f1f3; text-transform: capitalize;}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}

iframe{
	border: 0;
  width: 100%;
}

.text-red{
	color: #d0021b !important;
}
.blue-text{
	color: #0280D4;
}
.u-anchor{
  color: #0280D4;
  text-decoration: underline;
}

.modal-body .left-icon{
	margin-left: 80px;
	font-size: 13px;
}
.modal-body .left-icon::before{
	content: "";
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	padding: 25px;
  left: 30px;
  top: 20px;
}
.modal-body .left-icon.expired::before{
	background-image:url("../img/icons/exclamation.svg");
}
.modal-body .left-icon.expire-soon::before{
	background-image:url("../img/icons/exclamation-red.svg");
}
.modal-body .left-icon.locked::before{
	background-image:url("../img/icons/lock.svg");
}
.modal-header .close{
	background-image: url("../img/icons/close.svg");
  background-size: contain;
  padding: 15px;
  opacity: 1;
	filter:alpha(opacity=100)
  background-position: center center;
  background-repeat: no-repeat;
}

.animated-input{
	position: relative;
}
.animated-input.up > .form-control{border-color: #0280d4}
.animated-input.up > .form-control::-webkit-input-placeholder{color:#fff !important}
.animated-input.up > .form-control:-ms-input-placeholder{color:#fff !important}
.animated-input.up > .form-control::-moz-placeholder{color:#fff !important}
.animated-input::before{
	content: attr(data-placeholder);
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1000;
	padding: 0 5px;
	-webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.animated-input.up::before{
	top: -10px;
  background-color: #fff;
	color: #0280d4;
}
.animated-input.error > .form-control{border-color: #d0021b}
.animated-input.error > .form-control::-webkit-input-placeholder{color:#fff !important}
.animated-input.error > .form-control:-ms-input-placeholder{color:#fff !important}
.animated-input.error > .form-control::-moz-placeholder{color:#fff !important}
.animated-input.error::before{
	content: attr(data-placeholder);
  position: absolute;
  left: 10px;
  top: -10px;
  z-index: 1000;
  background-color: #fff;
  padding: 0 5px;
	color: #d0021b;
}

.scene-option.checkbox,
.scene-option.radio{
	margin-bottom: 10px !important;
}
.scene-option.checkbox span,
.scene-option.radio span{
	display: inline-block;
	position: relative;
	padding-left: 10px;
	z-index: 1;
	font-size: 13px;
}
.scene-option.checkbox span::before,
.scene-option.radio span::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	margin-left: -15px;
	border: 2px solid #bac2c7;
	background-color: #fff;
}
.scene-option.checkbox span::after,
.scene-option.radio span::after {
	display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -15px;
  padding-left: 3px;
}
.scene-option.checkbox input[type="checkbox"],
.scene-option.radio input[type="radio"]{
	opacity: 0;
}
.scene-option.checkbox input[type="checkbox"]:checked + span::after,
.scene-option.radio input[type="radio"]:checked + span::after {
	font-family: "Glyphicons Halflings";
	content: "\e013";
	color: #0280D4;
}
.scene-option.checkbox input[type="checkbox"]:checked + span::before,
.scene-option.radio input[type="radio"]:checked + span::before {
  background-color: #fff;
}
.scene-option.checkbox input[type="checkbox"]:disabled + span,
.scene-option.radio input[type="radio"]:disabled + span {
	opacity: 0.65;
}
.scene-option.checkbox input[type="checkbox"]:disabled + span::before
.scene-option.radio input[type="radio"]:disabled + span::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
.scene-option.radio span::before {
	border-radius: 50%;
}

.btn.in-icon{
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 30px;
}
.btn.in-icon::after{
	content:"";
	background-image:url("../img/icons/linkedin-symbol.svg");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 8px;
  position: absolute;
	top: -2px;
  bottom: 0;
  left: 8px;
}
.btn.fb-icon{
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 30px;
	background-color: #0a5891;
}
.btn.fb-icon::after{
	content:"";
	background-image:url("../img/icons/facebook-symbol.svg");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
}
.pre-loader.full{
	position: fixed !important;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.pre-loader{
	position: relative;
	min-height: 80px;
}
.pre-loader::after{
	content:"";
	background-image:url("../img/ring-alt.svg");
	background-size: cover;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	bottom: 50%;
	margin-left: -20px;
	margin-top: -20px;
	z-index: 1;
	text-align: center;
	color: #fff;
	background-color: #fff;
  border-radius: 50%;
}
.pre-loader::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: #fff;
	opacity: 0.9;
}
.login-form{
	max-width: 600px;
  margin: auto;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	width: 100%;
	text-align: center;
	box-shadow: 0px 0px 8px rgba(96,105,114,0.5);
  background-color: #fff;
	padding: 30px 30px 10px 30px;
}
.login-form h2{
	margin-bottom: 30px;
}
.login-form .btn-group-justified .btn-group-lg{
	padding: 0 8px;
}
.login-form .form-group.has-error{
	text-align: left;
}
.login-form .side-balance{
	margin-left: 10px;
	margin-right: 10px;
}
.login-form .go-right::after{
	content: "|";
	position: relative;
  padding-left: 10px;
  color: #8f8f8f;
}
.login-form .go-right{
	text-align: right;
}
.login-form .list-inline{
	margin-right: 48px;
	font-size: 13px;
}
.login-form .go-left{
	text-align: left;
}
*:focus {
	outline: none !important;
	text-decoration: none !important;
}

#wrapper{
	bottom: 0;
	clear: both;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 80px;
}

.navbar-fixed-top {
	box-shadow: 4px 4px 5px rgba(186,194,199,0.5);
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}
.navbar-fixed-top{
	height:80px;
	padding: 0 5px;
}
.navbar-fixed-top .brand{
	background-image: url('../img/logo.svg');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0;
    padding: 30px 110px;
    position: absolute;
}
.navbar-fixed-top ul.menu{
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 10px;
	margin:0;
}
.navbar-fixed-top ul.menu > li{
    display: table-cell;
    vertical-align: middle;
}
.navbar-fixed-top ul.menu .user-detail{
    font-size: 12px;
    text-align: right;
	padding-right: 15px;
}
.navbar-fixed-top ul.menu .user-detail a>div{
	width: 680px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
	color:#999;
}
.navbar-fixed-top ul.menu .user-detail a>.username{
	color:#666;
	font-size: 14px;
}
.navbar-fixed-top ul.menu > li.open::before{
	content:"\e253";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	top: 60px;
    color: #eee;
    right: 15px;
    font-size: 24px;
    z-index: 1020;
}
.navbar-fixed-top .dropdown-toggle{
	background-color: #fff;
    border-left: 1px solid #eee;
    padding: 29px 20px;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.navbar-fixed-top .dropdown-menu-right{
	top: 78px;
    background-color: #F0F1F3;
    text-align: right;
    border-color: #ddd;
}
.navbar-fixed-top .dropdown-menu-right a{
	/*font-family: "Open Sans";*/
    color: #606972;
    font-weight: 400;
    min-height: 30px;
    font-size: 13px;
    min-width: 200px;
	line-height: 30px;
}
.navbar-fixed-top .dropdown-menu-right a.active{
	color:#0280D4;
	background: linear-gradient(to right,#BAC2C7 ,#F0F1F3 100%);
}

.sidebar {
	position: fixed;
	top: 80px;
	bottom: 0;
	left: 0;
	width: 250px;
	z-index: 1000;
	display: block;
	padding: 15px;
	overflow: hidden;
	background-color: #333333;
	border-right: 1px solid #BAC2C7;
	box-shadow: 0px 0px 10px rgba(96,105,114,0.5);
}
.sidebar button[data-toggle="collapse"]::after{
	content: "\e259";
	position:absolute;
	right: 10px;
	font-size: 12px;
  margin-top: 2px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sidebar button.collapsed[data-toggle="collapse"]::after{
	content:"+";
}
.sidebar .panel {
	margin-bottom: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: #BAC2C7;
	border-radius:0;
}
.sidebar .panel > button{
	position:relative;
	color:#fff;
	background-color:#4D4D4D;
	display: block;
    padding: 15px 35px 15px 38px;
	height:50px;
	width: 100%;
	border: 0;
    text-align: left;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar .panel > button.learn::before{
	content:"\e233";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	left: 16px;
	top: 16px;
    font-size: 16px;
}
.sidebar .panel > button.author::before{
	content:"\270f";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	left: 18px;
	top: 18px;
    font-size: 12px;
}
.sidebar .panel > button.manage::before{
	content:"\e019";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	left: 18px;
	top: 18px;
    font-size: 12px;
}
.sidebar .panel > button.resources::before{
	content:"\e043";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	left: 18px;
	top: 18px;
    font-size: 12px;
}
.no-touch .sidebar .panel > button:hover{
	background-color: #666;
	text-decoration:none;
}
.sidebar .panel-collapse a{
	position:relative;
	display: block;
    padding: 15px 35px 15px 20px;
	line-height: 18px;
    font-size: 12px;
    color: #4D4D4D;
	background-color: #E0E0E0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar .panel-collapse a.active{
	background: linear-gradient(to right,#BAC2C7 ,#F0F1F3 100%);
	color: #0280D4;
}
.no-touch .sidebar .panel-collapse a:hover{
	background-color: #fff;
	text-decoration:none;
}
.sidebar .courses-icon::after{
	content:"";
	background-image:url("../img/icons/courses.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .create-course-icon::after{
	content:"";
	background-image:url("../img/icons/create.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .shop-icon::after{
	content:"";
	background-image:url("../img/icons/shop.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .subscriptions-icon::after{
	content:"";
	background-image:url("../img/icons/subscriptions.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .browse-free-courses-icon::after{
	content:"";
	background-image:url("../img/icons/browse.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .manage-users-icon::after{
	content:"";
	background-image:url("../img/icons/manage-users.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .enroll-users-icon::after{
	content:"";
	background-image:url("../img/icons/enroll-users.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .support-icon::after{
	content:"";
	background-image:url("../img/icons/support.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .run-report-icon::after{
	content:"";
	background-image:url("../img/icons/report.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .course-report-icon::after{
	content:"";
	background-image:url("../img/icons/course-report.svg");
	background-size: contain;
    padding: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 32%;
}
.sidebar .heading{
	color: #BAC2C7;
	padding-bottom: 10px;
  font-weight: 400;
  font-size: 25px;
}
.sidebar .heading::before{
	content:"";
	background-image:url("../img/icons/dashboard.svg");
	background-size: contain;
  padding: 10px;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 1px;
}
.sidebar .items{
	overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 75px;
    bottom: 34px;
}
.sidebar .collapse-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    height: 34px;
    border: none;
    outline: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar .collapse-btn::after{
	content:"\e257";
	position:absolute;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	top: 7px;
	right: 20px;
}
.no-touch .sidebar .collapse-btn:hover{
	background-color: #444;
}
.left-toggle .sidebar .panel-collapse{
	display:none;
}
.left-toggle .sidebar .panel > button{
	padding: 15px;
}
.left-toggle .sidebar .heading::before{
	left: -10px;
}
.left-toggle .sidebar button[data-toggle="collapse"]::after,
.left-toggle .sidebar button.collapsed[data-toggle="collapse"]::after,
.left-toggle .sidebar .heading span,
.left-toggle .sidebar button[data-toggle="collapse"] span{
	display:none;
}
.left-toggle .sidebar .collapse-btn::after{
	content:"\e258";
}
.left-toggle .sidebar{
	width: 0;
	padding-left: 25px;
  padding-right: 25px;
}
.left-toggle .main{
	left: 50px;
}

.main {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px;
	background-color: #fff;
}
.main .page-heading {
  margin-top: 0;
  color: #0280D4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.statistics{
	display: table;
	width: 100%;
}
.statistics-col:first-child .placeholder{
	margin-left: 0 !important;
}
.statistics-col:last-child .placeholder{
	margin-right: 0 !important;
}
.statistics-col{
	display: table-cell;
	vertical-align: bottom;
}
.main .statistics .placeholder{
	background-color: #F0F1F3;
  margin: 10px 5px;
  padding: 10px;
	text-align: center;
	font-family: "Open Sans","sans-serif";
	font-size: 13px;
	color:#0280d4;
}
.main .statistics .placeholder h4{
	font-weight: 300;
	margin-top: 0;
}
.tooltip{
	position: fixed;
	opacity: 1;
}

@media only screen and (max-width: 1024px)
{
	.navbar-fixed-top ul.menu .user-detail a>div{
		width: 420px;
	}
	.iso-container .iso-header .filters button{
		padding: 14px 5px !important;
	}
}

@media only screen and (max-width: 860px)
{
	.iso-container .iso-header .merge-filter-sorting{
		display: block !important;
	}
	.iso-container .iso-header .search{
		width: 100% !important;
	}
	.iso-container .iso-header .filters,
	.iso-container .iso-header .sorting{
		display: none !important;
	}
}

@media only screen and (max-width: 768px)
{
	.navbar-fixed-top ul.menu .user-detail{
		padding-right: 10px;
	}
	.navbar-fixed-top ul.menu .user-detail a>div{
		width: 260px;
	}
}

@media only screen and (max-width: 560px)
{
	.login-form .go-right::after{
		display: none;
	}
	.login-form .list-inline{
		margin-right: 0;
	}
	.login-form .go-left,
	.login-form .go-right{
		text-align: center;
		display: block;
	}

	.left-menu-overlay{
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 0.4);
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index:2;
	}
	.left-toggle .left-menu-overlay{
		display:none;
	}
	.left-toggle .main{
		width:auto;
	}

	.main{
		width:600px;
	}
	.navbar-fixed-top .dropdown-toggle{
		padding: 29px 15px;
	}
	.navbar-fixed-top ul.menu{
		right: 0;
	}
	.navbar-fixed-top ul.menu .user-detail{
		padding-right: 5px;
	}
	.navbar-fixed-top .brand{
		background-position: -12px center;
		background-size: cover;
		padding: 30px;
	}
	.navbar-fixed-top ul.menu .user-detail a>div{
		width: 200px;
	}
}
