<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>360training | Dashboard</title>

	<!-- BEGIN CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- END CSS -->

    <!-- BEGIN SCRIPTS -->
    <script type="text/javascript" src="../assets/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="../assets/plugins/html5shiv.js"></script>
    <script type="text/javascript" src="../assets/plugins/respond.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/modernizr.js"></script>
	<script type="text/javascript" src="../assets/plugins/platform.js" async defer></script>
	<script type="text/javascript" src="../assets/plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script type='text/javascript' src="../assets/scripts/ui.js"></script>
	<!-- END SCRIPTS -->

</head>

<body>

	<!-- BEGIN WRAPPER -->
    <div id="wrapper">

		<!-- BEGIN LOGIN PAGE -->
		<div>
			<div class="login-form">
				<div class="logo" style="cursor:pointer"></div>
				<br/><br/>
				<div>
					<h2>Log in to your account.</h2>
					<form role="form" class="form-horizontal" action="dashboard.html">
					  <div class="form-body">
						<div class="form-group">
						  <div class="input-icon">
							<i class="icon-user"></i>
							<input type="text" placeholder="Username" class="form-control">
						  </div>
						</div>
						<div class="form-group">
						  <div class="input-icon">
							<i class="icon-lock"></i>
							<input type="password" placeholder="Password" class="form-control">
						  </div>
						</div>
						<div class="form-group">
						  <div class="pull-left">
							  <label>
								<input type="checkbox" class="form-chkbox">
								Remember me.
							  </label>
						  </div>
						  <div class="pull-right">
							<button style="min-width:80px" type="submit" class="btn blue">Log in</button>
						  </div>
						</div>
					  </div>
					</form>
					<br><br>
					<div>
						<label>Forgot your password?</label>
					</div>
					<div>
						<label>No worries. Click <a class="blue-text" href="forgot_password.html"><u>here</u></a> to reset your password. </label>
					</div>
				</div>
			</div>
		</div>
		<!-- END LOGIN PAGE -->

	</div>
    <!-- END WRAPPER -->
</body>
</html>
